<div id="back-to-top" class="wrapper">
    <div class="container">
        <a href="#">BACK TO TOP</a>
    </div>
</div>
<footer id="footer" class="wrapper">
    <div id="footer-content" class="container">
        <div id="footer-logo">
            <img src="/themes/hmp_base/img/Consultant360-Logo_1C-W.svg" width="283">
        </div>
        <div class="footer-blocks">
            <div id="footer-social">
              <p>CONNECT</p>
            <ul>
                <li>
                    <a href="https://www.facebook.com/Consultant360/" target="_blank"><span class="social-icons"><img src="/themes/hmp_base/img/footer-facebook.png" /></span> Facebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/consultant360" target="_blank"><span class="social-icons"><img src="/themes/hmp_base/img/footer-twitter.png" /></span> Twitter</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/groups/7479229/profile" target="_blank"><span class="social-icons"><img src="/themes/hmp_base/img/footer-twitter.png" /></span> Linkedin</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/consultant360/" target="_blank"><span class="social-icons"><img src="/themes/hmp_base/img/footer-twitter.png" /></span> Instagram</a>
                </li>
            </ul>
            </div>

            <div id="footer-about">
                <p>ABOUT</p>
                <ul>
                    <li><a href="/about-us">About Us</a></li>
                    <li><a href="/contact-us">Contact Us</a></li>
                    <li><a href="http://www.hmpglobal.com/privacy-policy" target="_blank">Privacy Policy</a></li>
                </ul>
            </div>

            <div id="footer-other-brands">
                <p>VISIT OUR OTHER BRANDS</p>
                <ul>
                  <li><a href="/node/11293" target="_blank">Interdisciplinary Autoimmune Network</a></li>
                  <li><a href="/n411" target="_blank">Nutrition411</a></li>
                  <li><a href="http://www.psychcongress.com" target="_blank">Psych Congress Network</a></li>
                  <li><a href="http://www.the-dermatologist.com/" target="_blank">The Dermatologist</a></li>
                </ul>

            </div>
            
        </div>
    </div>
    <div id="footer-under" class="wrapper">
        <div class="container">
            <div class="hmp-brand-logo">
                <img class="hmp-brand-logo" src="/themes/hmp_base/img/HMP-Public-Safety-Logo-1L_1C-W.svg" width="356">
            </div>
            <div class="hmp-logo">
                <img class="hmp-logo" src="/themes/hmp_base/img/HMP.png">
            </div>
            <div class="fine">
                <span>© </span>{{ 'now'|date('Y') }}<span> HMP. EMS World Expo is a trademark of HMP. All Rights Reserved.</span>
            </div>
        </div>
      </div>
</footer>